@media (max-width:470px){
    body{
        width: 100%;
        height: auto;
    }

img{
    width: 150px;
}
.container{
 
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
    width: auto;
    margin: 0 auto;

}
.header_menu{
    display: block;
}

.projects{
    margin: 0 auto;
    display: block;
    height: auto;
    width: auto;
    padding: 5%;
    align-content: center;
    text-align: center;
}

.project{
    margin-top: auto;
    width: 100px;
}


.imge_project{
    width: 20px;    
    height: 20px;
}


.main__btn{
    padding: 10px;
    background-color: rgba(234, 207, 236, 0.801);
    width: 100%;
    border: 0px;
    border-radius: 2px;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

.main__btn :hover{
    background-color: #63a426;
}

.footer{
    width: 100%;
}
}