body{
    background-color: rgb(201, 157, 241);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

.header{
    background-color: cyan;
    border: 2px solid black;
}

.header_menu{
    color:black;
    display: flex;
    justify-content: space-between;

}

.header_menu ul{

    display:flex;
}

.header_menu li{
    display: inherit;
}

.header_menu a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.header_menu a:hover{
     background-color: blue;
     color: white;
     border-radius: 10px
}

.container{
    width: 1000px;
    margin: 0 auto;

}

.banner{
    color: white;
    background-color:#ef9964;
}

.banner .banner_hero{
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.banner_text-hero{
    padding: 80px 0 0 80px;
    font-family: monospace;
    font-size: 18px;
}

.portafolio{
    display: flex;
    margin: 100px 0;
}

.portafolio_box{
    margin: 15px;
    box-shadow: 0px 1px 8px 2px rgb(114, 223, 231);
    border-radius: 10px;
    width: 33%;
}

.portafolio_box img{
    border-radius: 10px;
}


.portafolio_card{
    margin: 20px;
    padding: 5px;
}

.portafolio_card button{
    background-color: cyan;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px blue;
}

.title{
    text-align:center;
    border-left: 6px solid purple;
    background-color: rgba(128, 128, 128, 0.075);
    
}

.experience{
    display: flex;
    margin: 100px 0;

}


.experience_box{
    margin: 15px;
    box-shadow: 0px 1px 8px 2px cyan;
    border-radius: 10px;
    width: 50%
}

.experience_body{
    box-shadow: 0px -10px 10px 2px #80808059;
    display: flex;
    justify-content:space-between;
    padding: 10px;
}

.footer{
    color:white;
    background-color: blueviolet;

}

.footer .footer_sections{
    display:flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px; 
}

.footer_sections i{
    padding: 10px;

}

.copyright p{
    margin:0;
    margin-bottom: 0;
    background-color: black;
    text-align:center;
    color: white;
    font-style: italic;
}