@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
body{
    background-color: rgba(228, 224, 224, 0.767);
    font-family:'Questrial', sans-serif;
    margin: 0 auto;
}

.container{
    height: auto;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    width: 100%;
    margin: 0 auto;

}

.header{
    display: block;
    background-color: #1e88e5;
    border: 2px solid #757575;
   
}

.header_menu{
    color:black;
    display: flex;
    justify-content: center;
}

.header_menu ul{
    justify-content: center;
    display:flex;
    padding-left: 0px;
}

.header_menu li{
    display: inherit;
}

.header_menu a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.header_menu a:hover{
     color: #757575;
     border-radius: 10px
}

h1, h2, h3{
    text-align: center;
}

.banner_hero{
    display: block;
    justify-content: center;
    text-align: center;

}

.banner_img-hero{
    margin-top: 20px;
    border-radius: 100%;
    
}

.banner_hero img{
    border-radius: 100%;
}

.banner_text-hero{
    padding: 0 10px;
    font-size: 18px;
    text-align: justify;
}
.projects{

    margin: 30px auto;
    padding-top: 20px;
    background-position: center top;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr) ;
    height: 50%;
    width: 60%;
    justify-content: center;
}

.project{

    background-color: #BDBDBD;
    padding: 20px;
    margin: 10px 10px;
    border: solid #1e88e5;
    
}

.imge_project{
    text-align:center;
    
}

span{
    color: #1e88e5;
}

.content{
    padding: 20px;
    background:rgb(207, 207, 207);
    border-radius: 3px;
    box-shadow: blue;
  

}

.main__btn{
    padding: 10px;
    background-color: rgba(234, 207, 236, 0.801);
    width: 100%;
    border: 0px;
    border-radius: 2px;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

.main__btn :hover{
    background-color: #63a426;
}

.footer {
    background: #BDBDBD;
    display: flex;
    list-style: none;
    justify-content: center;
    text-decoration: none;
    color: black;
    border: 2px solid #757575;
   
}

.footer_icons{
    text-align: center;

}